/* scroll top position fix */

@media only screen and (max-width: 499px) {
  .btn-scroll-top {
    bottom: 4rem;
  }
}




/* Top offset */

.builder-body-container {
  margin-top: -4.875rem;
}




/* Head - Description */

.builder-body-container .cont-descr {
  background-color: #fff;
  border-radius: 0.4375rem;
  margin: 0px;
  margin-bottom: 1rem;
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1);
  padding: 15px;
  text-align: justify;
}



/* Product Column */

@media only screen and (min-width:768px) {
  .builder-parts {
    padding-right: 0;
  }
}



/* Product Category */

.builder-part-category {
  margin-bottom: 1rem;
}

.part-category-header {
  border: solid 2px #4b566b;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 100px 1fr;
  grid-template-areas: "img-block category-bar"
                       "img-block details-block";
}

.part-category-img {
  grid-area: img-block;
  border-right: solid 2px #4b566b;
}
.part-category-img img {width: 100%;}

.part-category-bar {
  grid-area: category-bar;
  padding: 0.5rem;
  font-weight: bolder;
  background-color: #4b566b;
  color: #fff;  
}

.part-category-details {
  grid-area: details-block;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.part-category-description {
  border-left: solid 2px #4b566b;
  border-right: solid 2px #4b566b;
  border-bottom: solid 2px #4b566b;
  padding: 0.5rem;
}




/* Products */

.part-list-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.part-rd-bt, .part-checkbox {
  display: none;
}

.listed-part {
  background-color: #fff;
  border: solid 2px #4b566b;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas: "prod-img prod-img"
                       "prod-title prod-title"
                       "prod-quant prod-quant"
                       "prod-view prod-price";
}

.part-img {
  grid-area: prod-img;
  padding: 0.5rem;
}

.part-text {
  grid-area: prod-title;
  padding: 0.5rem;
  text-align: center;
}

.part-number-input { 
  grid-area: prod-quant;
}
.part-number-input.static-number { 
  visibility: hidden;
}
.part-number-input {
  min-height: 24px;
  display: flex;
}
.part-number-input input {
  display: none;
}
.part-num-decr,
.part-num-incr {
  flex-grow: 1;
  text-align: center;
  background-color: #d0d0d0;
  color: #fff;
  cursor: pointer;
}
.quantity-display {
  flex-grow: 2;
  text-align: center;
}

.prod-quick-view {
  grid-area: prod-view;
  padding: 0.25rem;
  background-color: #4b566b;
  
}
.prod-quick-view i.bi-eye {
  color: #fff; 
}

.part-price {
  grid-area: prod-price;
  padding: 0.25rem;
  background-color: #4b566b;
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  align-content: center;
}