.alt-dark {

  /* Gray Shades  */
  --bg-gray-hue: 0deg;
  --bg-gray-sat: 0%;
  --bg-gray-0: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 0%);
  --bg-gray-5: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 5%);
  --bg-gray-10: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 10%);
  --bg-gray-15: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 15%);
  --bg-gray-20: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 20%);
  --bg-gray-25: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 25%);
  --bg-gray-30: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 30%);
  --bg-gray-35: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 35%);
  --bg-gray-40: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 40%);
  --bg-gray-45: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 45%);
  --bg-gray-50: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 50%);
  --bg-gray-55: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 55%);
  --bg-gray-60: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 60%);
  --bg-gray-65: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 65%);
  --bg-gray-70: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 70%);
  --bg-gray-75: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 75%);
  --bg-gray-80: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 80%);
  --bg-gray-85: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 85%);
  --bg-gray-90: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 90%);
  --bg-gray-95: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 95%);
  --bg-gray-100: hsl(var(--bg-gray-hue) var(--bg-gray-sat) 100%);

  /* Blue shades */
  --bg-blue-hue: 216deg;
  --bg-blue-sat: 98%;
  --bg-blue-0: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 0%);
  --bg-blue-5: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 5%);
  --bg-blue-10: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 10%);
  --bg-blue-15: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 15%);
  --bg-blue-20: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 20%);
  --bg-blue-25: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 25%);
  --bg-blue-30: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 30%);
  --bg-blue-35: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 35%);
  --bg-blue-40: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 40%);
  --bg-blue-45: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 45%);
  --bg-blue-50: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 50%);
  --bg-blue-55: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 55%);
  --bg-blue-60: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 60%);
  --bg-blue-65: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 65%);
  --bg-blue-70: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 70%);
  --bg-blue-75: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 75%);
  --bg-blue-80: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 80%);
  --bg-blue-85: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 85%);
  --bg-blue-90: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 90%);
  --bg-blue-95: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 95%);
  --bg-blue-100: hsl(var(--bg-blue-hue) var(--bg-blue-sat) 100%);

  /* Green shades */
  --bg-green-hue: 144deg;
  --bg-green-sat: 100%;
  --bg-green-0: hsl(var(--bg-green-hue) var(--bg-green-sat) 0%);
  --bg-green-5: hsl(var(--bg-green-hue) var(--bg-green-sat) 5%);
  --bg-green-10: hsl(var(--bg-green-hue) var(--bg-green-sat) 10%);
  --bg-green-15: hsl(var(--bg-green-hue) var(--bg-green-sat) 15%);
  --bg-green-20: hsl(var(--bg-green-hue) var(--bg-green-sat) 20%);
  --bg-green-25: hsl(var(--bg-green-hue) var(--bg-green-sat) 25%);
  --bg-green-30: hsl(var(--bg-green-hue) var(--bg-green-sat) 30%);
  --bg-green-35: hsl(var(--bg-green-hue) var(--bg-green-sat) 35%);
  --bg-green-40: hsl(var(--bg-green-hue) var(--bg-green-sat) 40%);
  --bg-green-45: hsl(var(--bg-green-hue) var(--bg-green-sat) 45%);
  --bg-green-50: hsl(var(--bg-green-hue) var(--bg-green-sat) 50%);
  --bg-green-55: hsl(var(--bg-green-hue) var(--bg-green-sat) 55%);
  --bg-green-60: hsl(var(--bg-green-hue) var(--bg-green-sat) 60%);
  --bg-green-65: hsl(var(--bg-green-hue) var(--bg-green-sat) 65%);
  --bg-green-70: hsl(var(--bg-green-hue) var(--bg-green-sat) 70%);
  --bg-green-75: hsl(var(--bg-green-hue) var(--bg-green-sat) 75%);
  --bg-green-80: hsl(var(--bg-green-hue) var(--bg-green-sat) 80%);
  --bg-green-85: hsl(var(--bg-green-hue) var(--bg-green-sat) 85%);
  --bg-green-90: hsl(var(--bg-green-hue) var(--bg-green-sat) 90%);
  --bg-green-95: hsl(var(--bg-green-hue) var(--bg-green-sat) 95%);
  --bg-green-100: hsl(var(--bg-green-hue) var(--bg-green-sat) 100%);

  /* Text Black shades */
  --txt-black-hue: 0deg;
  --txt-black-sat: 0%;
  --txt-black-light: 0%;
  --txt-black-0: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 0%);
  --txt-black-5: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 5%);
  --txt-black-10: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 10%);
  --txt-black-15: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 15%);
  --txt-black-20: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 20%);
  --txt-black-25: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 25%);
  --txt-black-30: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 30%);
  --txt-black-35: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 35%);
  --txt-black-40: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 40%);
  --txt-black-45: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 45%);
  --txt-black-50: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 50%);
  --txt-black-55: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 55%);
  --txt-black-60: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 60%);
  --txt-black-65: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 65%);
  --txt-black-70: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 70%);
  --txt-black-75: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 75%);
  --txt-black-80: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 80%);
  --txt-black-85: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 85%);
  --txt-black-90: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 90%);
  --txt-black-95: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 95%);
  --txt-black-100: hsl(var(--txt-black-hue) var(--txt-black-sat) var(--txt-black-light) / 100%);

  /* Text White shades */
  --txt-white-hue: 0deg;
  --txt-white-sat: 0%;
  --txt-white-light: 100%;
  --txt-white-0: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 0%);
  --txt-white-5: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 5%);
  --txt-white-10: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 10%);
  --txt-white-15: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 15%);
  --txt-white-20: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 20%);
  --txt-white-25: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 25%);
  --txt-white-30: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 30%);
  --txt-white-35: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 35%);
  --txt-white-40: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 40%);
  --txt-white-45: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 45%);
  --txt-white-50: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 50%);
  --txt-white-55: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 55%);
  --txt-white-60: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 60%);
  --txt-white-65: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 65%);
  --txt-white-70: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 70%);
  --txt-white-75: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 75%);
  --txt-white-80: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 80%);
  --txt-white-85: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 85%);
  --txt-white-90: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 90%);
  --txt-white-95: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 95%);
  --txt-white-100: hsl(var(--txt-white-hue) var(--txt-white-sat) var(--txt-white-light) / 100%);



}



body.alt-dark {
  --bg-color-a: hsl(0deg 0% 25%);
  --bg-color-b: hsl(0deg 0% 20%);
  --bg-color-c: hsl(0deg 0% 15%);
  --bg-color-d: hsl(0deg 0% 0%);
  --bg-color-e: hsl(216deg 98% 35%);
  --bg-color-f: hsl(144deg 100% 30%);

  --text-color-a: hsl(0deg 0% 100% / 80%);
  --text-color-b: hsl(0deg 0% 100% / 60%);
  --text-color-c: hsl(0deg 0% 0% / 80%);


  color: var(--txt-white-80);
  background-color: var(--bg-gray-0);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: var(--txt-white-80);
}
.text-muted {
  color: var(--txt-white-60)!important;
}
.text-success {
  color: var(--bg-green-30)!important;
}


.topbar {
  background-color: var(--bg-gray-25)!important;
}
.navbar {
  background-color: var(--bg-gray-20);  
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: var(--bg-gray-15);
}
.navbar-expand-lg .navbar-nav .dropdown-menu .border-bottom {
  border-bottom: 1px solid var(--bg-gray-20)!important;
}



.offcanvas-header {
  background-color: var(--bg-gray-25);
}
.offcanvas-header .btn-close {
  filter: invert();
}
.offcanvas-body {
  background-color: var(--bg-gray-20);
}
.offcanvas-body .border-bottom, .offcanvas-body .border-top {
  border-bottom: 1px solid var(--bg-gray-20)!important;
}
.offcanvas-body .nav-link {
  background-color: var(--bg-gray-25);
  color: var(--txt-white-80);
}
.offcanvas-body .collapse .nav-link, .offcanvas-body .collapsing .nav-link {
  background-color: var(--bg-gray-20);
}


.btn-primary {
  background-color: var(--bg-blue-30);
  border-color: var(--bg-blue-30);
  color: var(--txt-white-90)!important;
}
.btn-primary.active, .btn-primary.show, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: var(--bg-blue-25);
  border-color: var(--bg-blue-25);
}

.btn-success {
  background-color: var(--bg-green-30);
  border-color: var(--bg-green-30);
  color: var(--txt-white-90)!important;
}
.btn-success.active, .btn-success.show, .btn-success:active, .btn-success:focus, .btn-success:hover {
  background-color: var(--bg-green-25);
  border-color: var(--bg-green-25);
}



/* collapse button */
[data-bs-toggle="collapse"][aria-expanded="false"] .clps-a {display: inline;}
[data-bs-toggle="collapse"][aria-expanded="false"] .clps-b {display: none;}
[data-bs-toggle="collapse"][aria-expanded="true"] .clps-a {display: none;}
[data-bs-toggle="collapse"][aria-expanded="true"] .clps-b {display: inline;}





.desc-item.show-partial {
  position: relative;
}
.desc-item.show-partial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
  180deg,
  rgba(0,0,0, 0) 0%,
  rgba(0,0,0, 0.06) 43%,
  rgba(0,0,0, 0.13) 52%,
  rgba(0,0,0, 0.21) 55%,
  rgba(0,0,0, 0.29) 56%,
  rgba(0,0,0, 0.39) 57%,
  rgba(0,0,0, 0.5) 58%,
  rgba(0,0,0, 0.65) 62%,
  rgba(0,0,0, 1) 89%
);
}







/* Placeholders */
.bg-placeholder {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(211,211,211);
  z-index: 44;
  overflow: hidden;
  border-radius: 5px;
  opacity: 1!important;
}
.bg-placeholder .activity {
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  animation: bg-loading 1s infinite;
  z-index: 45;
}

.bg-placeholder-dark {
  background-color: var(--bg-color-a);
}

.bg-placeholder .activity-dark {
  background-image: linear-gradient(to left, hsl(0deg 0% 100% / 0%), hsl(0deg 0% 100% / 5%), hsl(0deg 0% 100% / 0%));
  background-image: -moz-linear-gradient(to left, hsl(0deg 0% 100% / 0%), hsl(0deg 0% 100% / 5%), hsl(0deg 0% 100% / 0%));
  background-image: -webkit-linear-gradient(to left, hsl(0deg 0% 100% / 0%), hsl(0deg 0% 100% / 5%), hsl(0deg 0% 100% / 0%));
}

@keyframes bg-loading {
  0%{
    left: -45%;
  }
  100%{
    left: 100%;
  }
}




.cont-prod-header {
  background-color: var(--bg-gray-15);
}
.cont-prod-header .row > .col-lg-5 > div {
  background-color: var(--bg-gray-20);
}
.builder-body-container .cont-descr {
  margin: 0px;
  margin-bottom: 1rem;
  padding: 15px;
  text-align: justify;
}



.build-summary {
  padding-left: 0;
}
.build-summary > li{
  list-style-type: none;
}
.sumcat > ul {
  padding-left: 1rem;
}
.sumcat li {
  list-style-type: disc;
}



/* Pannel Column */

.panel-inner {
  margin-bottom: 2rem;
  background-color: var(--bg-gray-15);
  /* border-radius: 0.4375rem; */
  /* box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1); */
  /* border: solid 3px #595959; */
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;  
  max-height: calc(100vh - 105px);
}

@media only screen and (min-width: 992px) {
  .panel-inner {
    position: -webkit-sticky;
    position: sticky;
    top: 95px;
    padding: 15px;
  }
}

.nav-menu {
  display: none;
  position: fixed;
  top: 85px;
  left: 0px;
  padding: 7px;
  color: #fff;
  background-color: #2b3445;
  font-size: 0.9rem;
}

/* .nav-group .nav-header { */
  /* placeholder */
/* } */


.prod-navigation {
  overflow: auto;
}


@media only screen and (max-width: 991px) {
  .panel-inner {
    border: none;
  }
  .prod-navigation {
    display: none;
    position: fixed;
    top: 85px;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: var(--bg-gray-25);
    padding: 7px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: none;
    gap: 1ch;
  }
  .prod-navigation::-webkit-scrollbar {
    display: none;
  }
  .prod-navigation.inView {
    display: flex;
  }
  .nav-group {
    display: contents;
  }
  .nav-group.isHidden {
    display: none;
  }
  .nav-group .nav-header {
    display: none;
  }
  .nav-menu {
    display: block;
    z-index: 1009;
  }
  .nav-menu + .prod-navigation {
    padding-left: 5ch;
  }
}



.prod-navigator {
  padding: 0 5px;
  font-size: 0.9rem;  
  cursor: pointer;
}
@media only screen and (min-width:992px) {
  .prod-navigation .prod-navigator {
    transition: background-color 0.25s;
  }
  .prod-navigation .prod-navigator.navlpshow, .prod-navigation .prod-navigator:hover {
    background: linear-gradient(90deg, var(--bg-gray-25) 50%, var(--bg-gray-15) 100%);
    border-radius: 0.4375rem;
  }  
}

.prod-navigator i.bi-square-fill::before,
.prod-navigator i.bi-circle-fill::before {
  transition: color 0.25s;
}


@media only screen and (max-width:991px) {
  .prod-navigation .prod-navigator {
    display: flex;
    white-space: pre;
  }
  .prod-navigation .prod-navigator {
    border-bottom: 1px var(--bg-gray-25) solid;
    transition: border-color 0.25s;
  }
  .prod-navigation .prod-navigator.isfocused {
    border-bottom-color: var(--txt-white-60);
  }
  .prod-navigation .prod-navigator span {
    transition: color 0.25s;
  }  
  .prod-navigation .prod-navigator.navlpshow i.bi-square-fill.text-success + span,
  .prod-navigation .prod-navigator.navlpshow i.bi-circle-fill.text-success + span {
    color: var(--bg-green-30);
  }
  .prod-navigation .prod-navigator i.bi-tools {
    display: none;
  }
}



/* Product Column */

@media only screen and (min-width:992px) {
  .builder-parts {
    padding-right: 0;
  }
}



/* Cat Groups */

.cat-group.isHidden {
  display: none;
}


/* Product Category */

.builder-part-category {
  margin-bottom: 2rem;
}

.part-category-header {
  /* border: solid 3px #595959; */
  background-color: var(--bg-gray-15);
  border-radius: 0.3125rem;
  transition: border-radius 0.2s ease-in-out;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 115px 1fr;
  grid-template-areas: "category-bar category-bar"
                       "img-block details-block";
}



.part-category-img {
  grid-area: img-block;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0.2rem;
}
.part-category-img img {
  width: 100%;
  border-radius: 0.3125rem;
}


.part-category-bar {
  border-radius: 0.3125rem;
  grid-area: category-bar;
  padding: 0.5rem;
  font-weight: bolder;
  background-color: var(--bg-gray-25);
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
}

.part-category-bar:after { 
  font-family: 'bootstrap-icons';
  content: '\f64d';
  font-size: 1rem;
  float: right;
}
.contains-selected .part-category-bar {background-color: var(--bg-blue-30);}

.part-category-bar:hover {background-color: var(--bg-gray-20);}
.contains-selected .part-category-bar:hover {background-color: var(--bg-blue-25);}

.builder-part-category.lp-show .part-category-bar:after {
  content: "\f63b";
}

.part-category-details {
  grid-area: details-block;
  padding: 0.5rem;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  min-height: 90px;
  overflow-x: hidden;
}
.dt-item {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.catCollapsible {
  --qheight: 0px;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
  display: none;
}
.builder-part-category .catCollapsible.collapseTransition {
  display: block;
}
.builder-part-category.lp-show .catCollapsible {
  display: block;
  max-height: none;
}
.builder-part-category.lp-show .catCollapsible.collapseTransition {
  display: block;
  max-height: var(--qheight, 0);
}

.part-category-description {
  /* border-left: solid 3px #595959; */
  /* border-right: solid 3px #595959; */
  /* border-bottom: solid 3px #595959; */
  border-radius:0.3125rem;
  padding: 0.5rem;
  background-color: var(--bg-gray-15);
  margin-top: 0.5rem;
}


.part-list-container {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}




/* Products */

.part-rd-bt, .part-checkbox {
  display: none;
}

.listed-part {
  overflow: hidden;
  cursor: pointer;
  background-color: var(--bg-gray-15);
  /* border: solid 3px #595959; */
  border-radius: 0.3125rem;
  transition: border-color 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
}
.part-rd-bt:checked + .listed-part,
.part-checkbox:checked + .listed-part {
  cursor: revert;
}

.part-img {
  font-family: bootstrap-icons !important;
  grid-area: prod-img;
  position: relative;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.part-img::before {
  position: absolute;
  right: 3px;
  top: 0;
  color: var(--bg-gray-35);
  font-weight: bold;
}
.part-img::after {
  position: absolute;
  right: 7px;
  top: 6px;
  color: var(--bg-gray-35);
  font-size: 0.5rem;
}

.prod-img {
  width: 152px;
}

.part-rd-bt + .listed-part .part-img::before{content: "\F28A"}
.part-checkbox + .listed-part .part-img::before{content: "\F584"}

.part-rd-bt:checked + .listed-part .part-img::before{color: var(--bg-green-30);}
.part-checkbox:checked + .listed-part .part-img::before{content: "\F26C";color: var(--bg-green-30);}
.part-rd-bt:checked + .listed-part .part-img::after{content: "\F287";color: var(--bg-green-30);}



.part-text {
  flex-grow: 1;
  padding: 0.5rem;
  text-align: center;
}


.part-number-input.static-number { 
  visibility: hidden;
}
.part-number-input {
  min-height: 24px;
  display: flex;
  margin: 5px 20px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: var(--bg-gray-25);
  border-radius: 0.3125rem;
  overflow: hidden;
  line-height: 1.1;
}
.part-rd-bt:checked + .listed-part .part-number-input,
.part-checkbox:checked + .listed-part .part-number-input {opacity: 1;}


.part-number-input input {
  display: none;
}
.part-num-decr,
.part-num-incr {
  flex-grow: 1;
  text-align: center;
  background-color: var(--bg-gray-35);
  opacity: 0.5;
  font-weight: 900!important;
  font-size: 21px;
  transition: background-color 0.25s ease-in-out;
}


.part-number-input.decr-av .part-num-decr,
.part-number-input.incr-av .part-num-incr {opacity: 1; cursor: pointer;}
.part-number-input.decr-av .part-num-decr:hover,
.part-number-input.incr-av .part-num-incr:hover {background-color: var(--bg-gray-45); cursor: pointer;}

.quantity-display {
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 0.75rem;
}


.part-price .quick-view-btn i.bi-eye {
  color: var(--txt-white-80); 
}

.part-price {
  padding: 0.25rem 0.25rem 0.1rem 0.25rem;
  background-color: var(--bg-color-a);
  transition: background-color 0.25s ease-in-out;
  color: var(--txt-white-80);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.part-price .price-block {
  transition: opacity 0.25s ease-in-out;
}

.part-rd-bt:checked + .listed-part .part-price .price-block,
.part-checkbox:checked + .listed-part .part-price .price-block {
  opacity: 0;
}


.part-rd-bt:checked + .listed-part .part-price,
.part-checkbox:checked + .listed-part .part-price {
  background-color: var(--bg-color-f);
}



/*   modal   */




#build-modal .modal-dialog {
  max-width: 1150px;
  min-width: initial;
  width: calc(100% - 16px);
  color: var(--text-color-c);
}

#build-modal .modal-title img {
  display: none;
}

#build-modal .modal-table {
  width: 100%;
  display: grid;
  grid-template-columns:auto 1fr auto;
}
#build-modal .modal-table .table-row > div {
  padding:0 5px;
  border-bottom: 1px solid var(--bg-gray-20);
}
#build-modal .modal-table .table-row {
  display: contents;
}

#build-modal .modal-table .table-row:nth-child(2n+1) > div {
  background-color: var(--bg-gray-95);
}

#build-modal .modal-table .table-row:first-child > div,
#build-modal .modal-table .table-row:last-child > div {
  background-color: var(--bg-gray-20);
  color: var(--txt-white-80);
}

#build-modal .modal-table .table-row > div:nth-child(n+3){text-align: center;}

@media only screen and (max-width: 767px) {
  #build-modal .modal-table {
    grid-template-columns: 1fr auto;
  }
  #build-modal .modal-table .table-row > div:nth-child(1) {display: none;}
  #build-modal .modal-table .table-row:last-child > div:nth-child(1) {display: block;}
  #build-modal .modal-table .table-row:last-child > div:nth-child(2) {display: none;}
}

#build-modal .modal-footer .footer-interface {
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: calc(100% - 0.5rem);
}
#build-modal .modal-footer .btns {
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: -0.5rem;
  margin-right: 0;
  float: right;
}
#build-modal .modal-footer .btns .btn {
  padding: 0 1rem;
}
#build-modal .modal-footer .footer-link-body {
  border-radius: 5px;
  background-color: var(--bg-gray-95);  
  padding: 0.5rem;
}

#build-modal .badge, .part-category-details .badge {
  vertical-align: middle;
}

@media only screen and (max-width: 499px) {
  #build-modal .modal-footer .btns{
    float: none;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #build-modal .modal-footer .footer-interface {
    padding-bottom: 2.3rem;
  }
}

#build-modal .modal-table .bg-placeholder{
  grid-column: 1 / -1;
  height: auto;
  margin-bottom: 0.5rem;
}


@media print {  
  header,
  .page-title-overlap,
  .toast-container,
  .builder-body-container,
  .modal-quick-view,
  .btn-scroll-top,
  .bottom-toolbar,
  footer,
  #mapModal,
  #compareModal,
  .eupopup-container {
    display:none;
  }
  #build-modal .modal-footer,
  #build-modal .modal-header button {
    display:none;
  }
  body{
    padding-top: 0!important;
    padding-right: 0 !important;
    background-color: #fff !important;
  }
  #build-modal .modal-title {
    text-align: center;
    width: 100%;
  }
  #build-modal .modal-title img {
    display: block;
    margin: auto;
  }
  #build-modal .modal-dialog {
    max-width: none;
    width: 100%;
    min-height: 100%;
    margin: 0;
  }
  #build-modal .modal-content {
    align-self: stretch;
    border-width: 0;
    border-radius: 0;
  }
}